@import "tailwindcss";

@plugin "@tailwindcss/typography";

html {
  word-break: auto-phrase;
}

.special-link-hover:hover {
  background-color: rgba(253, 224, 71, 0.1);
  box-shadow: 0 0 15px rgba(253, 224, 71, 0.3);
  border-radius: 8px;
}
